body{
    color: lightblue;
    background-color: slategray;
    font-size: 20px;
    text-align: center;
    font-family: "Arial";  
}
footer{
    color: lightgreen;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    font-family: sans-serif;
}
#container{
    color: blue;
    background-color: gray;
}
#container2{
    text-align: left;
}