body{
    color: lightgreen;
    background-color: rgb(50, 140, 230);
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;  
}
#cabecera{
    background-color: rgb(17, 58, 112);
    border-radius: 10%;
    margin: 3%;
}
footer{
    color: lightgreen;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    font-family: sans-serif;
}
#container{
    color: blue;
    background-color: gray;
}
#container2{
    text-align: left;
}